<style type="text/css">
       
.blog{
   padding: 100px 0;
}
.blog::after{
   content: '';
   display: block;
   clear: left;
}
.blog article{
   float: left;
   width: 300px;
   margin: 10px 10px;
}
.jjang{
   margin-right: 0px;
}

.blog article img{
   width: 100%;
   height: auto;
}
.blog article p{
   margin-top: 30px;
}
 </style>
<div class="container">
    <div class="row">
  <div class="col-md-11 col-md-offset-2"><img src="https://dietnote.net/upload/2649162_a0ebde2c81a7c2faeae0d6288a74aaa8" alt="메인배경" width="70%" height="35%"/></div>
    </div>

    </div>
    <div class="container">
      <section class="blog">
         <h2 class="readable-hidden">멤버들</h2>
         <article class="sel"><img src="/assets/kim.JPG" alt="동원" class="img-circle"><p>다이어트 시급 예전으로 돌아가랏</p></article>
         <article class="hyun"><img src="/assets/eunseo.jpg" alt="은서"class="img-circle" ><p>이별 다이어트중, 대만튀</p></article>
         <article class="jang"><img src="/assets/jeahyun.jpg" alt="제횬"class="img-circle"><p>시먼딩씨..돌아와</p></article>
      </section>
   </div>