<div class="container">
<!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3>다이어트 프로그램</h3>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        <div class="row text-center">

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://cfile26.uf.tistory.com/image/232015475783635B0ECFF4" alt="수지" width="300px" height="300px" >
                    <div class="caption">
                        <h3>수지 다이어트</h3>
                        <p>미쓰에이 수지의 다이어트 비법!</p>
                        <p>
                            <a href="/suzy" class="btn btn-primary">자세히 알아보기</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://cfile6.uf.tistory.com/image/2120C934571F55250BA478" alt="설현" width="300px" height="300px">
                    <div class="caption">
                        <h3>설현 다이어트</h3>
                        <p>AOA멤버 설현의 다이어트 비법!</p>
                        <p>
                            <a href="/sulhyun" class="btn btn-primary">자세히 알아보기</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://cfile10.uf.tistory.com/image/244C7149548581DE01A873" alt="아이유" width="300px" height="300px">
                    <div class="caption">
                        <h3>아이유 다이어트</h3>
                        <p>치킨이 먹고싶은 아이유의 다이어트비법</p>
                        <p>
                            <a href="/iu.html" class="btn btn-primary">자세히 알아보기!</a>                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="/assets//dongwon.JPG" alt="동원" width="300px" height="300px">
                    <div class="caption">
                        <h3>동원다이어트</h3>
                        <p>79kg => 69kg 뺀 비결을 알아보자!</p>
                        <p>
                            <a href="/dongwon.html" class="btn btn-primary">자세히 알아보기!</a>
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->
</div>