<div class="container">
<h1>동원 다이어트</h1>
<form action="/zzim" method="get">
                        <input type="hidden" value="동원 다이어트" name="name">
                        <button type="submit" class="btn-default2"><span>내 목록에 추가하기</span></button>
</form> 

<p><h5 text-align="center">군대에서 말년병장시절에 라면을 하루에 2개씩먹으며 최고 몸무게를 찌웠다 전역후 다이어트 를 결심하고 본격적으로 들어가는데...</h5></p>
<p><h3>1. 하루에 운동 2시간씩 꼬박꼬박하기!</h3><br>
무슨일이 있든지 간에 매일매일 운동을 갔었다. 일요일은 헬스장이 열지 않아서 홈트레이닝으로 대체하고 매일 코스를짜서 운동을 하였다. <br>
살을 빼기 위해선 유산소 운동이 필수다. (ex :자전거 30분씩, 런닝머신 30분)</p>
<p><h3>2. 탄수화물 줄이기</h3><br>
탄수화물을 줄였다 계란으로 식사를 대신했고 밥이 너무 먹고 싶을때는 딱 한숟가락으로만 식사를 진행하였다. 탄수화물을 끊으면 뱃살이 살아지고 식사중에
물을 먹으면 포만감이 빨리온다.</p>
<p><h3>3. 일주일에 한번은 먹어주기!</h3>
일주일에 한번씩은 자신이 원하는 것을 먹어주었다. 대신 먹고 허락하는 대신에 많이 먹진 않았다. 어짜피 먹은거 많이 먹자! 이런마인드가 다이어트를 망친다.
먹을때 먹더라도 조금이라도 덜먹자!</p>
<p><h3>4. 원하는 몸매 사진 주위에 두기</h3>
자신이 원하는 몸매의 사진, 영상, 글등을 항상 봐준다. 가장 힘들었던게 야식참기 였는데 밤마다 남주혁 사진을 보며 견디었다. 
애도 하는데 나도 못할까.. 그리고 다이어트를 성공해서 설현같은 여자친구를 사귀겠다는 마인드로 설현사진을 배경화면으로 해놓았다</p>
<h3>다이어트 전 사진</h3>

<p><img src="/assets/finish.jpg" text-align="center"></p>
<p><img src="/assets/kungjoo.jpg"></p>

<h3>다이어트 후 사진</h3>
<p><img src="/assets/ing.jpg"></p>
<p><img src="/assets/after.jpg"></p>
</div>