<div class="container">


<h1>아이유 다이어트</h1>
<form action="/zzim" method="get">
                        <input type="hidden" value="아이유 다이어트" name="name">
                        <button type="submit" class="btn-default2"><span>내 목록에 추가하기</span></button>
</form>       
<div style="line-height: 2;">
아이유 다이어트 식단이 한밤의 TV연예에서 공개되었는데요. 정말, 보면서 깜짝 놀랍답니다. 아이유 다이어트 식단, 아이유의 극단적 다이어트 식단이라고 해서, 기사를 본적이 있었지만, 이렇게 한밤에서 다뤄져서 보니까, 너무 걱정이 되더라고요. 누구나 한번쯤 다이어트를 해보고 실패의 경험도 가지고 있기에, 아이유의 다이어트 식단을 본 많은 분들이, 아이유의 건강에 대한 걱정을 하게되지 않을까 싶어요. <br>
<br>
<p style="margin:0"></p><div class="imageblock center" style="text-align: center; clear: both;"><span data-url="http://cfile10.uf.tistory.com/attach/236E394A526808652E833F" data-lightbox="lightbox"><img src="http://cfile10.uf.tistory.com/image/236E394A526808652E833F" style="cursor: pointer;max-width:100%;height:auto" width="700" height="422" alt="아이유 다이어트 식단, 아이유 다이어트, 아이유 식단, 아이유, 다이어트 식단, 다이어트" filename="cfile10.uf@236E394A526808652E833F.PNG" filemime=""></span></div><p></p>
<p style="margin:0"></p><div class="imageblock center" style="text-align: center; clear: both;"><span data-url="http://cfile26.uf.tistory.com/attach/253AFA4A5268086613FDF0" data-lightbox="lightbox"><img src="http://cfile26.uf.tistory.com/image/253AFA4A5268086613FDF0" style="cursor: pointer;max-width:100%;height:auto" width="700" height="421" alt="아이유 다이어트 식단, 아이유 다이어트, 아이유 식단, 아이유, 다이어트 식단, 다이어트" filename="cfile26.uf@253AFA4A5268086613FDF0.PNG" filemime=""></span></div><p></p>
특히나, 왕성하게 활동을 하고 있는 상태에서 식단이라는게, 더욱 더 놀라운 것 같아요. 다이어트 기간이 아니라, 유지기간으로 
간다는게 신기하고, 또 쓰러지지않고, 병나지 않고 있다는게, 더 크게 걱정하게 만드는 것 같아요. 방송에서 많이 피곤한 
모습이였는데, 잘먹고 잘자는건 활동기간중에는 어렵다고 하지만, 먹는(?) 건강은 건강할때 지키라는 말이 있는데, 문득, 건강검진 
프로그램에 투입시켜서 수치로 위험도를 체크해보면 어떨까 싶어요.<br>
<br>
<br>
<p style="margin:0"></p><div class="imageblock center" style="text-align: center; clear: both;"><span data-url="http://cfile4.uf.tistory.com/attach/252F464A5268086716021D" data-lightbox="lightbox"><img src="http://cfile4.uf.tistory.com/image/252F464A5268086716021D" style="cursor: pointer;max-width:100%;height:auto" width="700" height="424.00000000000006" alt="아이유 다이어트 식단, 아이유 다이어트, 아이유 식단, 아이유, 다이어트 식단, 다이어트" filename="cfile4.uf@252F464A5268086716021D.PNG" filemime=""></span></div><p></p>
<p style="margin:0"></p><div class="imageblock center" style="text-align: center; clear: both;"><span data-url="http://cfile30.uf.tistory.com/attach/223E474A5268086712A765" data-lightbox="lightbox"><img src="http://cfile30.uf.tistory.com/image/223E474A5268086712A765" style="cursor: pointer;max-width:100%;height:auto" width="700" height="421" alt="아이유 다이어트 식단, 아이유 다이어트, 아이유 식단, 아이유, 다이어트 식단, 다이어트" filename="cfile30.uf@223E474A5268086712A765.PNG" filemime=""></span></div><p></p>
<p style="margin:0"></p><div class="imageblock center" style="text-align: center; clear: both;"><span data-url="http://cfile21.uf.tistory.com/attach/235C934A52680868098B92" data-lightbox="lightbox"><img src="http://cfile21.uf.tistory.com/image/235C934A52680868098B92" style="cursor: pointer;max-width:100%;height:auto" width="700" height="422" alt="아이유 다이어트 식단, 아이유 다이어트, 아이유 식단, 아이유, 다이어트 식단, 다이어트" filename="cfile21.uf@235C934A52680868098B92.PNG" filemime=""></span></div><p></p>
아침에 먹으면 몸에 좋다는 사과 하나, 점심에 공복을 잡아주는 고구마 or 바나나 두개, 밤에는 잘자라고 저지방 우유에 프로틴 섞은 단백질 음료 마시는 식단. 저거 먹고 살수있어? 라고 생각하는 분들도 있지만, 단백질 음료만 먹어도 살아갈수 있어요. 물론, 무척 괴롭고 힘듦이 따리지만요.<br>
<br>
<br>
<p style="margin:0"></p><div class="imageblock center" style="text-align: center; clear: both;"><span data-url="http://cfile24.uf.tistory.com/attach/214C524A526808690C1B41" data-lightbox="lightbox"><img src="http://cfile24.uf.tistory.com/image/214C524A526808690C1B41" style="cursor: pointer;max-width:100%;height:auto" width="700" height="424.00000000000006" alt="아이유 다이어트 식단, 아이유 다이어트, 아이유 식단, 아이유, 다이어트 식단, 다이어트" filename="cfile24.uf@214C524A526808690C1B41.PNG" filemime=""></span></div><p></p>
운동까지 병행을 하고 있으니, 체지방 2~3% 가까이 나오지 않을까 싶어요. 인터뷰에서는 계단오르기나, 스탭퍼? 그리고, 근력운동을 한다고 하는데, 유한소로 땀이 쪽 뺄때까지라니까, 현기증도 올수도 있을것 같고, 참 걱정되네요. 지금은 젊지만, 이런 다이어는, 후유증이 온다고들 하잖아요. 물론, 철저하게 관리를 받겠지만, 근본적인 건강에 대한 걱정은..<br>
<br>
<br>
<p style="margin:0"></p><div class="imageblock center" style="text-align: center; clear: both;"><span data-url="http://cfile9.uf.tistory.com/attach/2377724A526808692C1F47" data-lightbox="lightbox"><img src="http://cfile9.uf.tistory.com/image/2377724A526808692C1F47" style="cursor: pointer;max-width:100%;height:auto" width="700" height="423" alt="아이유 다이어트 식단, 아이유 다이어트, 아이유 식단, 아이유, 다이어트 식단, 다이어트" filename="cfile9.uf@2377724A526808692C1F47.PNG" filemime=""></span></div><p></p>
<div class="imageblock center" style="text-align: center; clear: both;"><span data-url="http://cfile5.uf.tistory.com/attach/23059E4A5268086A260586" data-lightbox="lightbox"><img src="http://cfile5.uf.tistory.com/image/23059E4A5268086A260586" style="cursor: pointer;max-width:100%;height:auto" width="700" height="424.00000000000006" alt="아이유 다이어트 식단, 아이유 다이어트, 아이유 식단, 아이유, 다이어트 식단, 다이어트" filename="cfile5.uf@23059E4A5268086A260586.PNG" filemime=""></span></div><p style="margin:0"></p><div class="imageblock center" style="text-align: center; clear: both;"><span data-url="http://cfile21.uf.tistory.com/attach/2774854A5268086A02CF7A" data-lightbox="lightbox"><img src="http://cfile21.uf.tistory.com/image/2774854A5268086A02CF7A" style="cursor: pointer;max-width:100%;height:auto" width="700" height="426" alt="아이유 다이어트 식단, 아이유 다이어트, 아이유 식단, 아이유, 다이어트 식단, 다이어트" filename="cfile21.uf@2774854A5268086A02CF7A.PNG" filemime=""></span></div><p></p>
아이유 기아 사진은, 정말.. 그나마, 아이유가 말하는 정상인 같은 지금의 모습은, 드라마 덕분에 키웠던 살힘이!! 지금의 극단적 다이어트를 버텨가게 하는 에니지원이 되고 있는게 아닐까 싶어요. 탄수화물 vs 단백질, 살 vs 근육 힘은 매우 다른 것이라서, 뒤따라오는 먹고싶은 욕구가 엄청난 스트레스로 다가가서 힘들게 하지 않을까 걱정도 되네요.<br>
<br>
<br>
<p style="margin:0"></p><div class="imageblock center" style="text-align: center; clear: both;"><span data-url="http://cfile23.uf.tistory.com/attach/2260944A5268086B08930A" data-lightbox="lightbox"><img src="http://cfile23.uf.tistory.com/image/2260944A5268086B08930A" style="cursor: pointer;max-width:100%;height:auto" width="700" height="423" alt="아이유 다이어트 식단, 아이유 다이어트, 아이유 식단, 아이유, 다이어트 식단, 다이어트" filename="cfile23.uf@2260944A5268086B08930A.PNG" filemime=""></span></div><p></p>
<p style="margin:0"></p><div class="imageblock center" style="text-align: center; clear: both;"><span data-url="http://cfile23.uf.tistory.com/attach/2443D04A5268086B11093A" data-lightbox="lightbox"><img src="http://cfile23.uf.tistory.com/image/2443D04A5268086B11093A" style="cursor: pointer;max-width:100%;height:auto" width="700" height="421" alt="아이유 다이어트 식단, 아이유 다이어트, 아이유 식단, 아이유, 다이어트 식단, 다이어트" filename="cfile23.uf@2443D04A5268086B11093A.PNG" filemime=""></span></div><p></p>
라디오에서 5일동안 5kg을 뺏다고 하는 아이유 다이어트 식단 이지만, 쉽게 현혹되서 따라하시는 분들은, 나이 + 젊음 = 몸상태, 를 비교해보고 선택하는게 좋을 것 같아요. 크게 데어봐야 정신차리는 다이어트 이잖아요. <br>
<br>
저도 1일 1식 시작했다가, 주변사람들에게 히스테리 부리고, 1일 2식으로 들어가다, 다시 1일 3식으로 돌아왔거든요. 위가 한번에 쫄아버려서 자연스럽게 소식 라이프로 변하긴 했지만, 절대적인 다이어트는 요요를 막는 식단 및 운동이 꼬리표처럼 평생 따라다녀야 한다는.. 한번 위를 쭐여놓으면 폭식하는 순간, 2배로 커져버려서 더 괴로운 배고픔을 맛보게 된다고 하니까요. <br>
<br>
<br>
<iframe src="//www.youtube.com/embed/uq8k07K4Nok" allowfullscreen="" frameborder="0" height="473" width="100%"></iframe>
<br>
<br>
아이유, 다이어트 식단 공개 @한밤의 TV연예 131023. 유튜브 영상이 있어서 첨부해보았습니다. 아이유 다이어트 식단 못보신분들 한번 보세요. 다이어트 중이라면, 자극받겠지만, 그만큼 아이유를 동정하게 되지 않을까 싶고, 다이어트 계획중이라면, 현혹되겠지만, 몸매를 가꿔야하는 직업이 아닌이상 괜한 도전심을 투입시키지 마시길 바래봅니다. <br>
<br>
정말, 다이어트는, 건강할때 건강을 지키면서 하는게 가장 좋은 거니까요. 활동이 끝나고 치킨을 마음껏 먹을수 있는 아이유 일지는 모르겠지만, 여하튼 건강한 모습으로 활동하는 아이유, 그리고 많은 아이돌 가수들이 보여졌으면 좋겠네요. 아이돌의 건강 식단, 이런게 소개되었으면 좋겠어요.<br>
<br>

<br>
</div>
</div>