<div class="container">
<div class="content">
								<div class="container">
									<h1>설현 다이어트</h1>
<form action="/zzim" method="get">
                        <input type="hidden" value="설현 다이어트" name="name">
                        <button type="submit" class="btn-default2"><span>내 목록에 추가하기</span></button>
</form> 
									
									
										<div class="postContent">
											<p style="TEXT-ALIGN: center"><strong><span style="FONT-SIZE: 14pt; COLOR: #ffffff; BACKGROUND-COLOR: #4673ff">- 설현의 <span style="COLOR: #ffffff; BACKGROUND-COLOR: #ff0000"><u>"-13kg"</u></span> 다이어트 비법 -</span></strong></p>
<p style="TEXT-ALIGN: center">&nbsp;</p>
<p style="FLOAT: none; TEXT-ALIGN: center; CLEAR: none"><span class="imageblock" style="display:inline-block;width:420px;;height:auto;max-width:100%"><img src="http://cfile6.uf.tistory.com/image/215DD64757847E70252380" style="max-width:100%;height:auto" width="420" height="767" filename="설현 1.jpg" filemime="image/jpeg"></span></p>
<p style="FLOAT: none; TEXT-ALIGN: center; CLEAR: none"><span class="imageblock" style="display:inline-block;width:420px;;height:auto;max-width:100%"><img src="http://cfile6.uf.tistory.com/image/2527014757847E70036382" style="max-width:100%;height:auto" width="420" height="236" filename="설현 2.jpg" filemime="image/jpeg"></span></p>
<p style="FLOAT: none; TEXT-ALIGN: center; CLEAR: none"><span class="imageblock" style="display:inline-block;width:420px;;height:auto;max-width:100%"><img src="http://cfile30.uf.tistory.com/image/27562D4757847E71184DC5" style="max-width:100%;height:auto" width="420" height="262" filename="설현 3.jpg" filemime="image/jpeg"></span></p>
<p style="FLOAT: none; TEXT-ALIGN: center; CLEAR: none"><span class="imageblock" style="display:inline-block;width:420px;;height:auto;max-width:100%"><img src="http://cfile7.uf.tistory.com/image/2731624757847E7102112D" style="max-width:100%;height:auto" width="420" height="630" filename="설현 4.jpg" filemime="image/jpeg"></span></p>
<p style="FLOAT: none; TEXT-ALIGN: center; CLEAR: none">지금까지 보신거는 <span style="COLOR: #ffffff; BACKGROUND-COLOR: #e545d0"><u><strong>AOA 설현</strong></u></span>의 <span style="COLOR: #ff0000"><strong><u>다이어트 전</u></strong></span>의 모습!!</p>
<p style="FLOAT: none; TEXT-ALIGN: center; CLEAR: none">이제부터 보실 사진은 <span style="COLOR: #ff0000"><strong><u>다이어트 후</u></strong></span>의 모습입니다!!!</p>
<p style="FLOAT: none; TEXT-ALIGN: center; CLEAR: none"><span class="imageblock" style="display:inline-block;width:420px;;height:auto;max-width:100%"><img src="http://cfile27.uf.tistory.com/image/265CB14757847E720BE9F8" style="max-width:100%;height:auto" width="420" height="630" filename="설현 5.jpg" filemime="image/jpeg"></span></p>
<p style="FLOAT: none; TEXT-ALIGN: center; CLEAR: none"><span class="imageblock" style="display:inline-block;width:420px;;height:auto;max-width:100%"><img src="http://cfile26.uf.tistory.com/image/2521AA4757847E7211A189" style="max-width:100%;height:auto" width="420" height="602" filename="설현 6.jpg" filemime="image/jpeg"></span></p>
<p style="FLOAT: none; TEXT-ALIGN: center; CLEAR: none"><span class="imageblock" style="display:inline-block;width:420px;;height:auto;max-width:100%"><img src="http://cfile2.uf.tistory.com/image/2675A44757847E73339C1B" style="max-width:100%;height:auto" width="420" height="630" filename="설현 7.jpg" filemime="image/jpeg"></span></p>
<p style="FLOAT: none; TEXT-ALIGN: center; CLEAR: none"><span class="imageblock" style="display:inline-block;width:420px;;height:auto;max-width:100%"><img src="http://cfile30.uf.tistory.com/image/221A1D4757847E73121DDC" style="max-width:100%;height:auto" width="420" height="630" filename="설현 10.jpg" filemime="image/jpeg"></span></p>
<p style="FLOAT: none; TEXT-ALIGN: center; CLEAR: none"><span class="imageblock" style="display:inline-block;width:420px;;height:auto;max-width:100%"><img src="http://cfile23.uf.tistory.com/image/2206784F57847E750B686B" style="max-width:100%;height:auto" width="420" height="572" filename="설현 9.jpg" filemime="image/jpeg"></span></p>
<p style="FLOAT: none; TEXT-ALIGN: center; CLEAR: none">어때요~?? 뒷태 미녀 맞죠?</p>
<p style="FLOAT: none; TEXT-ALIGN: center; CLEAR: none">이젠 뒷태뿐만이 아니라</p>
<p style="FLOAT: none; TEXT-ALIGN: center; CLEAR: none"><span style="COLOR: #ff0000"><strong><u><em><span style="COLOR: #ff007f">어느 각도에서 봐도 정말 여신 몸매</span></em></u></strong></span>...</p>
<p style="FLOAT: none; TEXT-ALIGN: center; CLEAR: none">부럽습니다!!+_+</p>
<p style="FLOAT: none; TEXT-ALIGN: center; CLEAR: none"><span class="imageblock" style="display:inline-block;width:420px;;height:auto;max-width:100%"><img src="http://cfile22.uf.tistory.com/image/2768F14F57847E750EB934" style="max-width:100%;height:auto" width="420" height="283" filename="설현 8.gif" filemime="image/gif"></span></p>
<p style="FLOAT: none; TEXT-ALIGN: center; CLEAR: none"><span style="COLOR: #ffffff; BACKGROUND-COLOR: #e545d0"><strong><u>설현</u></strong></span>의 경우에는 데뷔 후에는 주로 <span style="COLOR: #ff007f"><u><strong>1일 1식</strong></u></span>을 했다고합니다.</p>
<p style="FLOAT: none; TEXT-ALIGN: center; CLEAR: none">거기다 <span style="COLOR: #ff007f"><strong><u><em>뱀파이어 다이어트</em></u></strong></span>라고 불릴정도로</p>
<p style="FLOAT: none; TEXT-ALIGN: center; CLEAR: none">그냥 씹어 넘기는 건 거의 먹지 않고</p>
<p style="FLOAT: none; TEXT-ALIGN: center; CLEAR: none"><span style="COLOR: #0900ff"><strong><u>마시는 것만 마시면서 다이어트</u></strong></span>했으며</p>
<p style="FLOAT: none; TEXT-ALIGN: center; CLEAR: none">데뷔 전에는 아래 보이는<strong><span> <span style="COLOR: #ff00dd"><u>고구마</u>, <u>닭가슴살</u>, <u>계</u></span><span style="COLOR: #ff00dd"><u>란</u></span></span><span style="COLOR: #ff00dd"> </span></strong>등의</p>
<p style="FLOAT: none; TEXT-ALIGN: center; CLEAR: none"><span style="COLOR: #6600ff"><u><em><strong>다이어트 식단</strong></em></u></span>을 먹었다고 합니다!!</p>
<p style="FLOAT: none; TEXT-ALIGN: center; CLEAR: none"><span class="imageblock" style="display:inline-block;width:420px;;height:auto;max-width:100%"><img src="http://cfile9.uf.tistory.com/image/2143B94F57847E762FA318" style="max-width:100%;height:auto" width="420" height="240" filename="설현 11.jpg" filemime="image/jpeg"></span></p>
<p style="FLOAT: none; TEXT-ALIGN: center; CLEAR: none"><span class="imageblock" style="display:inline-block;width:420px;;height:auto;max-width:100%"><img src="http://cfile10.uf.tistory.com/image/263C7F4F57847E760537DA" style="max-width:100%;height:auto" width="420" height="246" filename="설현 12.jpg" filemime="image/jpeg"></span></p>
<p style="FLOAT: none; TEXT-ALIGN: center; CLEAR: none"><span class="imageblock" style="display:inline-block;width:420px;;height:auto;max-width:100%"><img src="http://cfile9.uf.tistory.com/image/224AD74F57847E77033AA9" style="max-width:100%;height:auto" width="420" height="237" filename="설현 13.jpg" filemime="image/jpeg"></span></p>
<p style="FLOAT: none; TEXT-ALIGN: center; CLEAR: none"><span class="imageblock" style="display:inline-block;width:420px;;height:auto;max-width:100%"><img src="http://cfile24.uf.tistory.com/image/243BFC4F57847E77050096" style="max-width:100%;height:auto" width="420" height="232" filename="설현 14.jpg" filemime="image/jpeg"></span></p>
<p style="FLOAT: none; TEXT-ALIGN: center; CLEAR: none"><span class="imageblock" style="display:inline-block;width:420px;;height:auto;max-width:100%"><img src="http://cfile23.uf.tistory.com/image/256E5A4757847E7841296E" style="max-width:100%;height:auto" width="420" height="231" filename="설현 15.jpg" filemime="image/jpeg"></span></p>
<p style="FLOAT: none; TEXT-ALIGN: center; CLEAR: none"><span class="imageblock" style="display:inline-block;width:420px;;height:auto;max-width:100%"><img src="http://cfile25.uf.tistory.com/image/2160BE4757847E790B908A" style="max-width:100%;height:auto" width="420" height="245" filename="설현 16.jpg" filemime="image/jpeg"></span></p>
<p style="FLOAT: none; TEXT-ALIGN: center; CLEAR: none">보이시죠?</p>
<p style="FLOAT: none; TEXT-ALIGN: center; CLEAR: none">위의 식단으로 먹는 것은 <span style="COLOR: #ff0000"><u><em><strong>단기 다이어트</strong></em></u></span>에 적합!!</p>
<p style="FLOAT: none; TEXT-ALIGN: center; CLEAR: none">너무 무리하게 하시거나 오래하시면</p>
<p style="FLOAT: none; TEXT-ALIGN: center; CLEAR: none">오히려 좋지않습니다~!!!!</p>
<p style="FLOAT: none; TEXT-ALIGN: center; CLEAR: none">&nbsp;</p>
<p style="FLOAT: none; TEXT-ALIGN: center; CLEAR: none"><span style="COLOR: #ffffff; BACKGROUND-COLOR: #e545d0"><strong><u>설현</u></strong></span>의 경우 <span style="COLOR: #0900ff"><u><em>먹는 것을 너무 좋아해서 다이어트가 힘들었다</em></u></span>고해요~</p>
<p style="FLOAT: none; TEXT-ALIGN: center; CLEAR: none"><span style="COLOR: #0900ff"><em><u>아침저녁으로 뭘 먹었는지 써서 내기도 했다</u></em></span>고합니다!</p>
<p style="FLOAT: none; TEXT-ALIGN: center; CLEAR: none"><span style="COLOR: #ff0000"><u><em>정말 중요한 팁</em></u></span>이에요!!</p>
<p style="FLOAT: none; TEXT-ALIGN: center; CLEAR: none"><span style="COLOR: #ff0000"><strong><span style="COLOR: #ffffff; BACKGROUND-COLOR: #7c43b1"><u>1. 다이어트 일기</u></span></strong></span>라고~!! </p>
<p style="FLOAT: none; TEXT-ALIGN: center; CLEAR: none">뭘 먹었는지 작성하면 <span style="COLOR: #ff0000"><u><em>습관적으로 먹는것</em></u></span>을</p>
<p style="FLOAT: none; TEXT-ALIGN: center; CLEAR: none"><span style="COLOR: #ff0000"><strong><u>의식하고 조절</u></strong></span>하게&nbsp;된다고합니다!</p>
<p style="FLOAT: none; TEXT-ALIGN: center; CLEAR: none">&nbsp;</p>
<p style="FLOAT: none; TEXT-ALIGN: center; CLEAR: none">또한 아침을 흡입하듯 먹는다고합니다!</p>
<p style="FLOAT: none; TEXT-ALIGN: center; CLEAR: none">아이돌은 언제 식사를 하게 될지....</p>
<p style="FLOAT: none; TEXT-ALIGN: center; CLEAR: none">점심과 저녁은 못먹을 수도 있으니까 말이죠..</p>
<p style="FLOAT: none; TEXT-ALIGN: center; CLEAR: none">그런데&nbsp;<span style="COLOR: #ffffff; BACKGROUND-COLOR: #7c43b1"><strong><u><span style="COLOR: #000000; BACKGROUND-COLOR: #ffffff"></span>2. 아침 먹는 습관</u></strong></span>은 <span style="COLOR: #ff0000"><u><strong>정말정말 중요</strong></u></span>하다고합니다!!</p>
<p style="FLOAT: none; TEXT-ALIGN: center; CLEAR: none"><span style="COLOR: #ff0000"><strong><em><u>기초대사량에서부터 차이</u></em></strong></span>난다고해요~!!</p>
<p style="FLOAT: none; TEXT-ALIGN: center; CLEAR: none">&nbsp;</p>
<p style="FLOAT: none; TEXT-ALIGN: center; CLEAR: none"><span style="COLOR: #ffffff; BACKGROUND-COLOR: #e545d0"><strong><u>설현</u></strong></span>의 경우 <span style="COLOR: #ff00dd"><u><em>체중 체크도 하루에 2번씩 체크</em></u></span>했다고합니다!</p>
<p style="FLOAT: none; TEXT-ALIGN: center; CLEAR: none"><span style="COLOR: #0900ff"><u><em><strong><span style="COLOR: #ffffff; BACKGROUND-COLOR: #4673ff">Tip !! </span></strong>체중은 아침에 일어나서 화장실 다녀온 후 </em></u></span></p>
<p style="FLOAT: none; TEXT-ALIGN: center; CLEAR: none"><span style="COLOR: #0900ff"><u><em>바로 재는것이 제일 정확하답니다!!</em></u></span></p>
<p style="FLOAT: none; TEXT-ALIGN: center; CLEAR: none">&nbsp;</p>
<p style="FLOAT: none; TEXT-ALIGN: center; CLEAR: none"><span style="COLOR: #ffffff; BACKGROUND-COLOR: #e545d0"><strong><u>설현</u></strong></span>의 경우 살이 찌는 체질이라 안해본 다이어트가 없다고하네요ㅠㅜ</p>
<p style="FLOAT: none; TEXT-ALIGN: center; CLEAR: none">평소에 <span style="COLOR: #ffffff; BACKGROUND-COLOR: #7c43b1"><strong><u>3. 스트레칭&amp;족욕</u></strong></span>도 자주해준다네요!!</p>
<p style="FLOAT: none; TEXT-ALIGN: center; CLEAR: none"><span style="COLOR: #ff00dd"><u><em><strong>다이어트 및 심신안정</strong>에도 도움</em></u></span>되는거 아시죠??+_+</p>
<p style="TEXT-ALIGN: center">&nbsp;<span class="imageblock" style="display:inline-block;width:420px;;height:auto;max-width:100%"><img src="http://cfile21.uf.tistory.com/image/2128DB4F57847F3838CFE8" style="max-width:100%;height:auto" width="420" height="709" filename="설현 17.jpg" filemime="image/jpeg"></span></p>
<p style="FLOAT: none; TEXT-ALIGN: center; CLEAR: none"><span style="COLOR: #ff0000"><u>제일 중요한것</u></span>은</p>
<p style="FLOAT: none; TEXT-ALIGN: center; CLEAR: none"><span style="COLOR: #ff0000"><strong><span style="COLOR: #ffffff; BACKGROUND-COLOR: #ff0000"><u>스스로를 사랑하는 것</u></span></strong></span>입니다!!</p>
<p style="FLOAT: none; TEXT-ALIGN: center; CLEAR: none"><span style="COLOR: #ffffff; BACKGROUND-COLOR: #7c43b1"><strong><u>4. 감사일기</u></strong></span>를 쓰는 것도 좋은 방법인데요~</p>
<p style="FLOAT: none; TEXT-ALIGN: center; CLEAR: none"><span style="COLOR: #ff007f"><strong><u><em>하루에 감사한 일</em></u></strong></span> 그리고 <span style="COLOR: #ff007f"><strong><u><em>스스로 잘한 일</em></u></strong></span> 등을 적는거에요~!!!</p>
<p style="FLOAT: none; TEXT-ALIGN: center; CLEAR: none">&nbsp;</p>
<p style="FLOAT: none; TEXT-ALIGN: center; CLEAR: none">우리 모두 <span style="COLOR: #ffffff; BACKGROUND-COLOR: #e545d0"><strong><u>설현</u></strong></span>의 몸매가 되어보아용~!!+_+</p><div style="width:100%;margin-top:30px;clear:both;height:30px">		<div class="entry-ccl" style="float:right;margin-top:0;height:0">
			<a href="http://creativecommons.org/licenses/by/4.0/deed.ko" target="_blank" style="text-decoration: none" wrc_done="true">
				<img id="ccl-icon-103-0" class="entry-ccl-by" src="//t1.daumcdn.net/tistory_admin/static/admin/editor/ccl_black01.png?_version_=a496c3ab18e20fc6c1df7befd0472a74a5cfc30d" onmouseover="tistoryCcl.show(this, 3)" onmouseout="tistoryCcl.hide()" alt="저작자 표시" style="width:15px;height:15px">
								<!--
	<rdf:RDF xmlns="http://web.resource.org/cc/" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
		<Work rdf:about="">
			<license rdf:resource="http://creativecommons.org/licenses/by-fr/2.0/kr/" />
		</Work>
		<License rdf:about="http://creativecommons.org/licenses/by-fr/">
			<permits rdf:resource="http://web.resource.org/cc/Reproduction"/>
			<permits rdf:resource="http://web.resource.org/cc/Distribution"/>
			<requires rdf:resource="http://web.resource.org/cc/Notice"/>
			<requires rdf:resource="http://web.resource.org/cc/Attribution"/>
			<permits rdf:resource="http://web.resource.org/cc/DerivativeWorks"/>
		</License>
	</rdf:RDF>
	-->
			</a><span class="wrc1 wrc_icon wrc_injected"></span>
		</div>
					<script type="text/javascript">
				if (/MSIE [0-6]\./.test(navigator.userAgent)) {
					for (var i = 0; i <1; i++) {
						var el = document.getElementById('ccl-icon-103-' + i);
						el.style.filter = 'progid:DXImageTransform.Microsoft.AlphaImageLoader(src="' + el.src + '",sizingMethod="image")';
						el.src = '//t1.daumcdn.net/tistory_admin/static/admin/form/s.gif?_version_=a496c3ab18e20fc6c1df7befd0472a74a5cfc30d';
					}
				}
			</script>
			<div style="width:31px;float:left;"><a href="/toolbar/popup/abuseReport/?entryId=103" onclick="window.open(this.href, 'tistoryThisBlogPopup', 'width=550, height=510, toolbar=no, menubar=no, status=no, scrollbars=no'); return false;"><img style="border:0" src="//t1.daumcdn.net/tistory_admin/static/ico/ico_spam_report.png" alt="신고"></a></div></div><div class="another_category another_category_color_gray">

										
										<div class="postEnd"></div>
									
								</div>
							</div>
</div>