<div class="container">
						<!-- 포스트관리 -->
							<h1>수지다이어트</h1>
<form action="/zzim" method="get">
                        <input type="hidden" value="수지 다이어트" name="name">
                        <button type="submit" class="btn-default2"><span>내 목록에 추가하기</span></button>
</form> 
							<!-- 포스트 본문 내용 -->
							<div class="article">
								<div class="tt_article_useless_p_margin"><p style="text-align: center; clear: none; float: none;"><br><span class="imageblock" style="display:inline-block;width:499px;;height:auto;max-width:100%"><img src="http://cfile4.uf.tistory.com/image/226B193E529406E1274F41" style="max-width:100%;height:auto" width="499" height="300" filename="이미지 063.png" filemime="image/jpeg"></span><span class="imageblock" style="display:inline-block;width:500px;font-size: 9pt; line-height: 1.5;;height:auto;max-width:100%"><img src="http://cfile6.uf.tistory.com/image/2622363E529406E016DA73" style="max-width:100%;height:auto" width="500" height="295" filename="이미지 062.png" filemime="image/jpeg"></span></p><p style="text-align: center; clear: none; float: none;"><span style="font-size: 8pt; color: rgb(93, 93, 93);">&lt;사진출처: KBS2 안녕하세요 캡처</span><span style="font-size: 8pt; color: rgb(93, 93, 93);">&gt;</span></p><p style="text-align: justify;"><br></p><p style="text-align: justify;"><br></p><p style="text-align: justify;"><span style="font-size: 10pt; color: rgb(93, 93, 93);">어제</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">(25</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">일</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">) </span><span style="font-size: 10pt; color: rgb(93, 93, 93);">방송된</span><span style="font-size: 10pt; color: rgb(93, 93, 93);"> KBS 2TV ‘</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">대국민 토크쇼 안녕하세요</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">’</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">에서는 성시경</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">, </span><span style="font-size: 10pt; color: rgb(93, 93, 93);">미쓰에이 수지</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">, </span><span style="font-size: 10pt; color: rgb(93, 93, 93);">씨엔블루 이정신이 게스트로 출연했는데요</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">. </span><span style="font-size: 10pt; color: rgb(93, 93, 93);">본격적인 고민 사연을 듣기에 앞서</span><span style="font-size: 10pt; color: rgb(93, 93, 93);"> “</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">몸매 관리를 위한 레시피가 있느냐</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">”</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">라는 질문에 수지는</span><span style="font-size: 10pt; color: rgb(93, 93, 93);"> “</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">특별한 방법은 없다</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">. </span><span style="font-size: 10pt; color: rgb(93, 93, 93);">그냥 유산균 음료를 물 마시듯 먹는다</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">”</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">고 밝혀 눈길을 끌었습니다</span><span><span style="font-size: 10pt; color: rgb(93, 93, 93);">.</span></span></p><p style="text-align: justify;"><span style="font-size: 10pt; color: rgb(93, 93, 93);">이전보다 날씬하고 더욱 건강해진 몸매로 </span><span style="font-size: 10pt; color: rgb(93, 93, 93);">2</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">집 앨범 </span><span style="font-size: 10pt; color: rgb(93, 93, 93);">‘Hush’</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">를 들고 컴백한 수지</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">! </span><span style="font-size: 10pt; color: rgb(93, 93, 93);">그 다이어트비법이 궁금한데요</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">. </span><span style="font-size: 10pt; color: rgb(93, 93, 93);">지금부터 수지가 그 동안 밝힌 다이어트비법을 하나씩 알아보겠습니다</span><span><span style="font-size: 10pt; color: rgb(93, 93, 93);">.</span></span></p><p style="text-align: justify;"><span style="font-size: 10pt; color: rgb(93, 93, 93);">&nbsp;</span></p><p style="text-align: justify;"><span style="font-size: 10pt; color: rgb(93, 93, 93);"><br></span></p><p style="text-align: justify;"><span style="font-size: 10pt; color: rgb(93, 93, 93);"><br></span></p><p style="text-align: justify;"><span style="font-size: 12pt; color: rgb(93, 93, 93);"><b><span style="color: rgb(221, 0, 0);">미쓰에이 수지의 다이어트비법</span></b></span></p><p style="text-align: justify;"><span style="font-size: 10pt; color: rgb(93, 93, 93);">&nbsp;</span></p><p style="text-align: justify;"><span style="font-size: 10pt; color: rgb(93, 93, 93);"><br></span></p><p style="text-align: justify;"><b><span style="font-size: 11pt; color: rgb(221, 0, 0);">1. </span><span style="font-size: 11pt; color: rgb(221, 0, 0);">펭귄 다이어트</span></b></p><p style="text-align: justify;"><span style="font-size: 10pt; color: rgb(93, 93, 93);">&nbsp;</span></p><p style="text-align: justify;"><span style="font-size: 10pt; color: rgb(93, 93, 93);">펭귄 다이어트는 수지 다이어트라고 불릴 정도로 유명한 운동법인데요</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">. </span><span style="font-size: 10pt; color: rgb(93, 93, 93);">팔뚝살을
빼는데 효과적이라고 합니다</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">. </span><span style="font-size: 10pt; color: rgb(93, 93, 93);">사실 이 운동법은 다이어트 비디오계에 레전드라 할 수 있는 이소라 다이어트
비디오 운동의 일부라고 하네요</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">. </span><span style="font-size: 10pt; color: rgb(93, 93, 93);"><b>꾸준히 반복하면 팔뚝뿐만이 아니라 가슴을 업 시키는데도 효과적이라고
합니다</b></span><span><span style="font-size: 10pt; color: rgb(93, 93, 93);"><b>.</b></span></span></p><p style="text-align: justify;"><span><span style="font-size: 10pt; color: rgb(93, 93, 93);"><br></span></span></p><p style="text-align: justify;"><span><br></span></p><p style="text-align: center; clear: none; float: none;"><span class="imageblock" style="display:inline-block;width:683px;;height:auto;max-width:100%"><span data-url="http://cfile29.uf.tistory.com/attach/233422465294076C0FAB45" data-lightbox="lightbox"><img src="http://cfile29.uf.tistory.com/image/233422465294076C0FAB45" style="cursor: pointer;max-width:100%;height:auto" width="683" height="373" filename="이미지 058.png" filemime="image/jpeg"></span></span></p><p style="text-align: justify;"><span><span style="font-size: 10pt; color: rgb(93, 93, 93);"><br></span></span></p><p style="text-align: center; clear: none; float: none;"><span class="imageblock" style="display:inline-block;width:683px;;height:auto;max-width:100%"><span data-url="http://cfile27.uf.tistory.com/attach/252BAF465294076D12233A" data-lightbox="lightbox"><img src="http://cfile27.uf.tistory.com/image/252BAF465294076D12233A" style="cursor: pointer;max-width:100%;height:auto" width="683" height="373" filename="이미지 059.png" filemime="image/jpeg"></span></span></p><p style="text-align: justify;"><span><span style="font-size: 10pt; color: rgb(93, 93, 93);"><br></span></span></p><p style="text-align: center; clear: none; float: none;"><span class="imageblock" style="display:inline-block;width:683px;;height:auto;max-width:100%"><span data-url="http://cfile22.uf.tistory.com/attach/274E3E465294076E07B197" data-lightbox="lightbox"><img src="http://cfile22.uf.tistory.com/image/274E3E465294076E07B197" style="cursor: pointer;max-width:100%;height:auto" width="683" height="374" filename="이미지 060.png" filemime="image/jpeg"></span></span></p><p style="text-align: justify;"><span><span style="font-size: 10pt; color: rgb(93, 93, 93);"><br></span></span></p><p style="text-align: center; clear: none; float: none;"><span class="imageblock" style="display:inline-block;width:683px;;height:auto;max-width:100%"><span data-url="http://cfile21.uf.tistory.com/attach/255780465294076F05AF16" data-lightbox="lightbox"><img src="http://cfile21.uf.tistory.com/image/255780465294076F05AF16" style="cursor: pointer;max-width:100%;height:auto" width="683" height="374" filename="이미지 061.png" filemime="image/jpeg"></span></span></p><p style="text-align: center;"><span style="background-color: transparent; text-align: center; font-size: 8pt; color: rgb(93, 93, 93);">&lt;사진출처: 온스타일 겟잇뷰티&nbsp;캡처</span><span style="background-color: transparent; text-align: center; font-size: 8pt; color: rgb(93, 93, 93);">&gt;</span></p><p style="text-align: justify;"><span><span style="font-size: 10pt; color: rgb(93, 93, 93);"><b><br></b></span></span></p><p style="text-align: justify;"><span><span style="font-size: 10pt; color: rgb(93, 93, 93);"><b><br></b></span></span></p><p style="text-align: justify;"><span><span style="font-size: 10pt; color: rgb(93, 93, 93);"><b>&lt;펭귄 운동법&gt;</b></span></span></p><p style="text-align: justify;"><b><span style="font-size: 10pt; color: rgb(93, 93, 93);">1. </span><span style="font-size: 10pt; color: rgb(93, 93, 93);">다리를 어깨너비로 벌린 다음 펭귄처럼 손목을 직각 꺾습니다</span><span><span style="font-size: 10pt; color: rgb(93, 93, 93);">.</span></span></b></p><p style="text-align: justify;"><b><span style="font-size: 10pt; color: rgb(93, 93, 93);">2. </span><span style="font-size: 10pt; color: rgb(93, 93, 93);">양팔을 양옆으로 올렸다가 손목을 안쪽 꺾으면서 골반에 붙이듯
내려줍니다</span><span><span style="font-size: 10pt; color: rgb(93, 93, 93);">.</span></span></b></p><p style="text-align: justify;"><b><span style="font-size: 10pt; color: rgb(93, 93, 93);">3. </span><span style="font-size: 10pt; color: rgb(93, 93, 93);">다시 팔을 옆으로 올렸다가 이번에는 손목을 바깥쪽으로 꺾으면서
내려줍니다</span><span><span style="font-size: 10pt; color: rgb(93, 93, 93);">.</span></span></b></p><p style="text-align: justify;"><b><span style="font-size: 10pt; color: rgb(93, 93, 93);">4. </span><span style="font-size: 10pt; color: rgb(93, 93, 93);">반동을 받으면서 빠르게</span><span style="font-size: 10pt; color: rgb(93, 93, 93);"> 8</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">회
반복합니다</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">. (</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">속도가 중요</span><span><span style="font-size: 10pt; color: rgb(93, 93, 93);">)</span></span></b></p><p style="text-align: justify;"><b><span style="font-size: 10pt; color: rgb(93, 93, 93);">5. </span><span style="font-size: 10pt; color: rgb(93, 93, 93);">이전과 같은 손목동작으로 하면서 팔을 앞으로 머리 위로 뻗어
각각 </span><span style="font-size: 10pt; color: rgb(93, 93, 93);">8</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">회 반복합니다</span><span><span style="font-size: 10pt; color: rgb(93, 93, 93);">.</span></span></b></p><p style="text-align: justify;"><b><span style="font-size: 10pt; color: rgb(93, 93, 93);">6. </span><span style="font-size: 10pt; color: rgb(93, 93, 93);">옆</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">, </span><span style="font-size: 10pt; color: rgb(93, 93, 93);">앞</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">, </span><span style="font-size: 10pt; color: rgb(93, 93, 93);">머리 위 모두</span><span style="font-size: 10pt; color: rgb(93, 93, 93);"> 20</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">회씩 반복해줍니다</span></b><span><span style="font-size: 10pt; color: rgb(93, 93, 93);"><b>.</b></span></span></p><p style="text-align: justify;"><span style="font-size: 10pt; color: rgb(93, 93, 93);">&nbsp;</span></p><p style="text-align: justify;"><span style="font-size: 10pt; color: rgb(93, 93, 93);">&nbsp;</span></p><p style="text-align: justify;"><span style="font-size: 10pt; color: rgb(93, 93, 93);">&nbsp;</span></p><p style="text-align: justify;"><b><span style="font-size: 11pt; color: rgb(221, 0, 0);">2. 야식 안&nbsp;</span><span style="font-size: 11pt; color: rgb(221, 0, 0);">먹기</span></b></p><p style="text-align: justify;"><span style="font-size: 10pt; color: rgb(93, 93, 93);">&nbsp;</span></p><p style="text-align: justify;"><span style="font-size: 10pt; color: rgb(93, 93, 93);">수지는 저녁을 먹지 않으려고 노력한다고도 밝히기도 했는데요</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">. </span><span style="font-size: 10pt; color: rgb(93, 93, 93);">여기서
저녁이란 저녁 식사보다는 야식에 가깝다고 볼 수 있습니다</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">. 특히&nbsp;</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">저녁에 음식을 먹으면 살이 찐다 하여 무작정
굶는 것은 좋지 않은데요</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">. </span><span style="font-size: 10pt; color: rgb(93, 93, 93);">대신 <b>저탄수화물</b></span><b><span style="font-size: 10pt; color: rgb(93, 93, 93);">, </span><span style="font-size: 10pt; color: rgb(93, 93, 93);">저염분의 음식을
찾아</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">, </span><span style="font-size: 10pt; color: rgb(93, 93, 93);">되도록 소식하는 것이 좋습니다</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">. </span></b><span style="font-size: 10pt; color: rgb(93, 93, 93);">다이어트를 위해 아침을
꼭 챙겨 먹는 것이 중요하다면</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">, </span><span style="font-size: 10pt; color: rgb(93, 93, 93);">저녁 역시 어떻게 챙겨 먹느냐에 따라 다이어트 성공 여부를 좌우할 수
있다고 보시면 됩니다</span><span><span style="font-size: 10pt; color: rgb(93, 93, 93);">.</span></span></p><p style="text-align: justify;"><span style="font-size: 10pt; color: rgb(93, 93, 93);">&nbsp;</span></p><p style="text-align: center; clear: none; float: none;"><span style="font-size: 10pt; color: rgb(93, 93, 93);">&nbsp;</span><span class="imageblock" style="display:inline-block;width:400px;font-size: 9pt; line-height: 1.5; text-align: center;;height:auto;max-width:100%"><span data-url="http://cfile28.uf.tistory.com/attach/2162D04C52940F5207E26C" data-lightbox="lightbox"><img src="http://cfile28.uf.tistory.com/image/2162D04C52940F5207E26C" style="cursor: pointer;max-width:100%;height:auto" width="400" height="532" filename="수지6.jpg" filemime="image/jpeg"></span></span></p><p style="text-align: justify;"><span style="font-size: 10pt; color: rgb(93, 93, 93);">&nbsp;</span></p><p style="text-align: justify;"><span style="font-size: 10pt; color: rgb(93, 93, 93);"><br></span></p><p style="text-align: justify;"><span style="font-size: 10pt; color: rgb(93, 93, 93);"><br></span></p><p style="text-align: justify;"><b><span style="font-size: 11pt; color: rgb(221, 0, 0);">3. </span><span style="font-size: 11pt; color: rgb(221, 0, 0);">틈틈이 훌라후프 하기</span></b></p><p style="text-align: justify;"><span style="font-size: 10pt; color: rgb(93, 93, 93);">&nbsp;</span></p><p style="text-align: justify;"><span style="font-size: 10pt; color: rgb(93, 93, 93);">예전 인터뷰 중 숙소에서 주로 뭘 하냐는 질문에 수지는 훌라후프를 하면서 대본을 본다고 했는데요</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">. </span><span style="font-size: 10pt; color: rgb(93, 93, 93);">훌라후프는 이처럼 다른 일을 하면서 병행할 수 있다는 장점이 있습니다</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">. </span><span style="font-size: 10pt; color: rgb(93, 93, 93);">특히
유산소 운동도 되면서 근력 강화도 되는 만능 운동이자 <b>뱃살과 옆구리살을 효과적으로 관리할 뿐만이 아니라 팔을 들고 있어서 팔뚝살에도 효과가 있다고
합니다</b></span><span style="font-size: 10pt; color: rgb(93, 93, 93);"><b>.</b> </span><span style="font-size: 10pt; color: rgb(93, 93, 93);">특히 장운동을 활발하게 해주기 때문에 변비에도 효과적인데요</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">.<b>
</b></span><b><span style="font-size: 10pt; color: rgb(93, 93, 93);">훌라후프</span><span style="font-size: 10pt; color: rgb(93, 93, 93);"> 30</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">분은</span><span style="font-size: 10pt; color: rgb(93, 93, 93);"> 125kcal</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">를 소모합니다</span></b><span><span style="font-size: 10pt; color: rgb(93, 93, 93);"><b>.</b></span></span></p><p style="text-align: justify;"><span style="font-size: 10pt; color: rgb(93, 93, 93);">&nbsp;</span></p><p style="text-align: justify;"><span style="font-size: 10pt; color: rgb(93, 93, 93);"><br></span></p><p style="text-align: center; clear: none; float: none;"><span class="imageblock" style="display:inline-block;width:520px;font-size: 9pt; line-height: 1.5;;height:auto;max-width:100%"><img src="http://cfile9.uf.tistory.com/image/2115794F52940F97088DD6" style="max-width:100%;height:auto" width="520" height="470" filename="BOO_20130401095301_V_59_20130401095818.jpg" filemime="image/jpeg"></span><span style="font-size: 10pt; color: rgb(93, 93, 93);">&nbsp;</span></p><p style="text-align: justify;"><span style="font-size: 10pt; color: rgb(93, 93, 93);">&nbsp;</span></p><p style="text-align: justify;"><span style="font-size: 10pt; color: rgb(93, 93, 93);"><br></span></p><p style="text-align: justify;"><span style="font-size: 10pt; color: rgb(93, 93, 93);"><br></span></p><p style="text-align: justify;"><b><span style="font-size: 11pt; color: rgb(221, 0, 0);">4. </span><span style="font-size: 11pt; color: rgb(221, 0, 0);">필라테스 하기</span></b></p><p style="text-align: justify;"><span style="font-size: 10pt; color: rgb(93, 93, 93);"><br></span></p><p style="text-align: justify;"><span style="font-size: 10pt; color: rgb(93, 93, 93);">특히 이번 앨범을 준비하는 과정에서 운동은 주로 필라테스를 했다고 합니다</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">. </span><span style="font-size: 10pt; color: rgb(93, 93, 93);"><b>필라테스는
동양의 요가와 서양의 스트레칭을 합친 운동</b>으로 근육의 약한 부분을 강화하고 유연성을 증가시켜주는데요</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">. </span><span style="font-size: 10pt; color: rgb(93, 93, 93);">즉</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">, </span><span style="font-size: 10pt; color: rgb(93, 93, 93);">근육 크기는 늘어나지 않으면서 근력은 증대돼 체력이 강화됩니다</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">. </span><b><span style="font-size: 10pt; color: rgb(93, 93, 93);">필라테스
특유의 가슴 호흡법은 복근을 강화하고 파워하우스</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">(</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">복부</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">, </span><span style="font-size: 10pt; color: rgb(93, 93, 93);">복부
뒤쪽의 등과 허리</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">, </span><span style="font-size: 10pt; color: rgb(93, 93, 93);">엉덩이</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">) </span><span style="font-size: 10pt; color: rgb(93, 93, 93);">부분의 군살을 빼는 데 도움을
준다고 알려졌습니다</span></b><span><span style="font-size: 10pt; color: rgb(93, 93, 93);"><b>.</b></span></span></p><p style="text-align: justify;"><span style="font-size: 10pt; color: rgb(93, 93, 93);">&nbsp;</span></p><p style="text-align: justify;"><span style="font-size: 10pt; color: rgb(93, 93, 93);"><br></span></p><p style="text-align: center; clear: none; float: none;"><span class="imageblock" style="display:inline-block;width:400px;;height:auto;max-width:100%"><span data-url="http://cfile22.uf.tistory.com/attach/2504A549529408B02372E7" data-lightbox="lightbox"><img src="http://cfile22.uf.tistory.com/image/2504A549529408B02372E7" style="cursor: pointer;max-width:100%;height:auto" width="400" height="517" filename="1887800201_e3e259d0_201310211039593310_1.jpg" filemime="image/jpeg"></span></span></p><p style="text-align: center;"><span style="font-size: 10pt; color: rgb(93, 93, 93);"><span style="font-size: 8pt;">&lt;사진출처: ELLE</span><span style="font-size: 8pt;">&gt;</span><br></span></p><p style="text-align: justify;"><span style="font-size: 10pt; color: rgb(93, 93, 93);">&nbsp;</span></p><p style="text-align: justify;"><span style="font-size: 10pt; color: rgb(93, 93, 93);">&nbsp;</span></p><p style="text-align: justify;"><b><span style="font-size: 11pt; color: rgb(221, 0, 0);">5. </span><span style="font-size: 11pt; color: rgb(221, 0, 0);">날씬한 몸매사진을 보며 자극받기</span></b></p><p style="text-align: justify;"><span style="font-size: 10pt; color: rgb(93, 93, 93);">

</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">

</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">

</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">

</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">

</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">

</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">

</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">

</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">

</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">

</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">

</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">

</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">

</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">

</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">

</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">

</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">

</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">

</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">

</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">

</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">

</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">

</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">

</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">

</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">

</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">

</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">

</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">

</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">

</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">

</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">

</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">

</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">

</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">

</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">

</span></p><p style="text-align: justify;"><span style="font-size: 10pt; color: rgb(93, 93, 93);"><br></span></p><p style="text-align: justify;"><span style="font-size: 10pt; color: rgb(93, 93, 93);">마지막으로 날씬한 몸매사진을 보며 자극받기인데요</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">. </span><span style="font-size: 10pt; color: rgb(93, 93, 93);">수지는 이효리의
몸매를 보며 다이어트를 불태웠다고 합니다</span><span style="font-size: 10pt; color: rgb(93, 93, 93);">. </span><span style="font-size: 10pt; color: rgb(93, 93, 93);"><b>그럼 이제 우리도 수지에게 자극받고&nbsp;더욱 힘내서&nbsp;다이어트에
도전해볼까요</b></span><span><span style="font-size: 10pt; color: rgb(93, 93, 93);"><b>?</b></span></span></p><p style="text-align: center; clear: none; float: none;"><br></p><p style="text-align: justify;"><span><span style="font-size: 10pt; color: rgb(93, 93, 93);"><b><br></b></span></span></p><p style="text-align: center; clear: none; float: none;"><span class="imageblock" style="display:inline-block;width:683px;;height:auto;max-width:100%"><span data-url="http://cfile3.uf.tistory.com/attach/2115F74F52940F97367E60" data-lightbox="lightbox"><img src="http://cfile3.uf.tistory.com/image/2115F74F52940F97367E60" style="cursor: pointer;max-width:100%;height:auto" width="683" height="445" filename="tnwl.PNG" filemime="image/jpeg"></span></span></p><p style="text-align: justify;"><span><span style="font-size: 10pt; color: rgb(93, 93, 93);"><b><br></b></span></span></p><p style="text-align: justify;"><span><span style="font-size: 10pt; color: rgb(93, 93, 93);"><b><br></b></span></span></p><p style="text-align: justify;"><span><span style="font-size: 10pt; color: rgb(93, 93, 93);"><b></b><br></span></span></p><p style="text-align: center; clear: none; float: none;"><span class="imageblock" style="display:inline-block;width:617px;;height:auto;max-width:100%"><div>
<p style="text-align: center; clear: none; float: none;"><p style="text-align: justify;"><span><span style="font-size: 10pt; color: rgb(93, 93, 93);"><b><br></b></span></span></p><div class="daum_like_wrapper"><iframe class="daum_like_button" id="daum_like_button_301" frameborder="0" scrolling="no" allowtransparency="true" src="http://blog.villa-app.com/like/?uid=806342_301&amp;sc=113%2CblogId_806342&amp;url=http%3A%2F%2Fblog.villa-app.com%2F301&amp;published=1385624648" style="width:100%;height:44px;margin:10px auto"></iframe></div><div style="width:100%;margin-top:30px;clear:both;height:30px">		<div class="entry-ccl" style="float:right;margin-top:0;height:0">
						<!--
	<rdf:RDF xmlns="http://web.resource.org/cc/" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
		<Work rdf:about="">
			<license rdf:resource="http://creativecommons.org/licenses/by-fr/2.0/kr/" />
		</Work>
		<License rdf:about="http://creativecommons.org/licenses/by-fr/">
			<permits rdf:resource="http://web.resource.org/cc/Reproduction"/>
			<permits rdf:resource="http://web.resource.org/cc/Distribution"/>
			<requires rdf:resource="http://web.resource.org/cc/Notice"/>
			<requires rdf:resource="http://web.resource.org/cc/Attribution"/>
			<permits rdf:resource="http://web.resource.org/cc/DerivativeWorks"/>
		</License>
	</rdf:RDF>
	-->
			</a>
		</div>
					<script type="text/javascript">
				if (/MSIE [0-6]\./.test(navigator.userAgent)) {
					for (var i = 0; i <1; i++) {
						var el = document.getElementById('ccl-icon-301-' + i);
						el.style.filter = 'progid:DXImageTransform.Microsoft.AlphaImageLoader(src="' + el.src + '",sizingMethod="image")';
						el.src = '//t1.daumcdn.net/tistory_admin/static/admin/form/s.gif?_version_=a496c3ab18e20fc6c1df7befd0472a74a5cfc30d';
					}
				}
			</script>
		
								</div>
							</div>
							
						</div>